# Objective
Transaction categorization for credit card data using fastText.

Dataset obtained from https://data.gov.uk/search?q=credit+card+transactions. Take the raw dataset from above, with the labels, and format it into fastText format as below:
        
\_\_label\_\_sauce \_\_label\_\_cheese How much does potato starch affect a cheese sauce recipe?

In [32]:
import fasttext
import pandas as pd

from sklearn.model_selection import train_test_split

#### Input parameters ##################
input_path = "./data/1718Pcard.csv"
output_path_train = "./data/1718card_fasttext_train.txt"
output_path_test = "./data/1718card_fasttext_test.txt"
########################################

# Load data

In [33]:
data = pd.read_csv(input_path)
data

,FIN.TRANSACTION DATE,FIN.POSTING DATE,FIN.TRANSACTION AMOUNT,MCH.MERCHANT NAME,MCH.CITY NAME,FIN.ORIGINAL CURRENCY AMOUNT,FIN.ORIGINAL ISO CURRENCY CODE SYMBOL,FIN.INET CONVERSION,target
0,06-04-17,07-04-17,36.55,TESCO STORE 2296,COLNEY HATCH,36.55,GBP,1.0,shopping
1,06-04-17,07-04-17,58.75,AMFBOWLING.CO.UK,01442 840200,58.75,GBP,1.0,entertainment
2,10-04-17,11-04-17,40.5,WWW.GOJUMPIN.COM,INTERNET,40.5,GBP,1.0,kids
3,12-04-17,13-04-17,23.9,AMFBOWLING.CO.UK,01442 840200,23.9,GBP,1.0,entertainment
4,12-04-17,13-04-17,24.28,VUE BSL LTD,LONDON,24.28,GBP,1.0,general
5,12-04-17,13-04-17,93.92,B & M RETAIL,TOTTENHAM,93.92,GBP,1.0,shopping
6,15-04-17,17-04-17,58,WILKO.COM,0845 6080807,58,GBP,1.0,shopping
7,18-04-17,19-04-17,12,TESCO STORES 2296,COLNEY HATCH,12,GBP,1.0,shopping
8,18-04-17,19-04-17,11.5,ASDA SUPERSTORE,S'GATE CIRCUS,11.5,GBP,1.0,shopping
9,18-04-17,19-04-17,20.72,ASDA SUPERSTORE,S'GATE CIRCUS,20.72,GBP,1.0,shopping
10,25-04-17,26-04-17,90.21,HOMEBASE LTD 024,LONDON N11,90.21,GBP,1.0,shopping
11,28-04-17,01-05-17,24.71,HOMEBASE LTD 024,LONDON N11,24.71,GBP,1.0,shopping
12,28-04-17,01-05-17,-22.79,HOMEBASE LTD 024,LONDON N11,-22.79,GBP,1.0,shopping
13,27-04-17,01-05-17,47.12,AMAZON UK RETAIL AMAZO,AMAZON.CO.UK,47.12,GBP,1.0,shopping
14,09-04-17,10-04-17,5,GIFFGAFF.COM,ONLINE STORE,5,GBP,1.0,shopping
15,28-04-17,01-05-17,5,GIFFGAFF.COM,ONLINE STORE,5,GBP,1.0,shopping
16,04-04-17,05-04-17,338.95,CURRYS,STEVENAGE,338.95,GBP,1.0,food
17,04-04-17,06-04-17,11.5,TFL ROAD CHARGE,0343 222 2222,11.5,GBP,1.0,travel
18,05-04-17,07-04-17,11.5,TFL ROAD CHARGE,0343 222 2222,11.5,GBP,1.0,travel
19,11-04-17,13-04-17,11.5,TFL ROAD CHARGE,0343 222 2222,11.5,GBP,1.0,travel
20,20-04-17,21-04-17,14,SAINSBURYS 0567,LONDON COLNEY,14,GBP,1.0,shopping
21,25-04-17,26-04-17,355,PINKS FLORISTS SPIRES,BARNET,355,GBP,1.0,shopping
22,25-04-17,27-04-17,11.5,TFL ROAD CHARGE,0343 222 2222,11.5,GBP,1.0,travel
23,05-04-17,07-04-17,620.92,ARGOS DIRECT,HOME SHOPPING,620.92,GBP,1.0,shopping
24,11-04-17,12-04-17,40.98,WWW.ARGOS.CO.UK,INTERNET,40.98,GBP,1.0,shopping
25,12-04-17,13-04-17,80.44,ARGOS RETAIL GROUP,INTERNET,80.44,GBP,1.0,shopping
26,12-04-17,13-04-17,124.99,ARGOS RETAIL GROUP,INTERNET,124.99,GBP,1.0,shopping
27,12-04-17,13-04-17,319.97,WWW.ARGOS.CO.UK,INTERNET,319.97,GBP,1.0,shopping
28,13-04-17,14-04-17,718.95,WWW.TWINSUK.CO.UK,01670 856996,718.95,GBP,1.0,kids
29,20-04-17,24-04-17,103.94,WWW.ARGOS.CO.UK,INTERNET,103.94,GBP,1.0,shopping
...,...,...,...,...,...,...,...,...,...
4898,02-03-18,05-03-18,2.49,AMAZON UK MARKETPLACE,800-279-6620,2.49,GBP,1.0,NaN
4899,02-03-18,05-03-18,18.4,AMAZON UK MARKETPLACE,800-279-6620,18.4,GBP,1.0,NaN
4900,03-03-18,05-03-18,31.18,AMAZON UK MARKETPLACE,800-279-6620,31.18,GBP,1.0,NaN
4901,03-03-18,05-03-18,11.35,AMAZON UK MARKETPLACE,800-279-6620,11.35,GBP,1.0,NaN
4902,04-03-18,05-03-18,17.99,AMAZON EU,AMAZON.CO.UK,17.99,GBP,1.0,NaN
4903,04-03-18,05-03-18,10.98,AMAZON EU,AMAZON.CO.UK,10.98,GBP,1.0,NaN
4904,04-03-18,05-03-18,11.98,AMAZON EU,AMAZON.CO.UK,11.98,GBP,1.0,NaN
4905,17-03-18,19-03-18,20,OYSTER AUTOTOPUP,0343 2221234,20,GBP,1.0,NaN
4906,26-03-18,26-03-18,11.98,AMAZON EU,AMAZON.CO.UK,11.98,GBP,1.0,NaN
4907,26-03-18,26-03-18,7.98,AMAZON UK MARKETPLACE,800-279-6620,7.98,GBP,1.0,NaN
4908,26-03-18,27-03-18,17.98,AMAZON EU,AMAZON.CO.UK,17.98,GBP,1.0,NaN
4909,02-03-18,05-03-18,10,MEDIGOLD HEALTH CONSUL,NORTHAMPTON,10,GBP,1.0,NaN
4910,06-03-18,07-03-18,6.32,AMAZON UK MARKETPLACE,800-279-6620,6.32,GBP,1.0,NaN
4911,06-03-18,07-03-18,9.49,AMAZON UK MARKETPLACE,800-279-6620,9.49,GBP,1.0,NaN
4912,07-03-18,08-03-18,7.9,AMAZON UK MARKETPLACE,800-279-6620,7.9,GBP,1.0,NaN
4913,07-03-18,08-03-18,5.23,AMAZON UK MARKETPLACE,800-279-6620,5.23,GBP,1.0,NaN
4914,12-03-18,13-03-18,67.07,BT PAY BY PHONE,DURHAM,67.07,GBP,1.0,NaN
4915,13-03-18,14-03-18,31.98,AMAZON EU,AMAZON.CO.UK,31.98,GBP,1.0,NaN
4916,15-03-18,16-03-18,89.91,WWW.TTS-GROUPS.CO.UK,INTERNET,89.91,GBP,1.0,NaN
4917,18-03-18,19-03-18,21.12,AMAZON UK MARKETPLACE,800-279-6620,21.12,GBP,1.0,NaN
4918,16-03-18,21-03-18,1.58,AMAZON UK MARKETPLACE,800-279-6620,1.58,GBP,1.0,NaN
4919,22-03-18,23-03-18,118.44,ORAL HEALTH FOUNDATION,RUGBY,118.44,GBP,1.0,NaN
4920,26-03-18,26-03-18,25.56,AMAZON UK MARKETPLACE,800-279-6620,25.56,GBP,1.0,NaN
4921,20-03-18,21-03-18,226,HMCOURTS-SERVICE.G,8459400111,226,GBP,1.0,NaN
4922,28-03-18,29-03-18,17.99,123 REG R/T,8712309525,17.99,GBP,1.0,NaN
4923,16-03-18,19-03-18,20,GIFFGAFF,WWW.GIFFGAFF,20,GBP,1.0,NaN
4924,07-03-18,08-03-18,354.25,LOVE2SHOP.CO.UK,0345 717 1111,354.25,GBP,1.0,NaN
4925,21-03-18,22-03-18,51.88,AMAZON UK MARKETPLACE,800-279-6620,51.88,GBP,1.0,NaN
4926,22-03-18,26-03-18,10,WWW.BRENTGOV.UK,INTERNET,10,GBP,1.0,NaN
4927,27-03-18,28-03-18,11,LUTON BC INTERNET,LUTON,11,GBP,1.0,NaN

# Pre-process data

In [34]:
# Retain only rows where target is not null
data_target = data[~data['target'].isnull()]

# Convert column names to lower case
data_target.columns = [str(x).lower().replace(' ', '_') for x in data_target.columns]

# Extract relevant columns
data_target = data_target[['mch.merchant_name', 'target']]

# Drop duplicate rows
print("len before drop duplicates = " + str(len(data_target)))
data_target.drop_duplicates(inplace=True)
print("len after drop duplicates = " + str(len(data_target)))

# Convert '.' to ' '
data_target['mch.merchant_name_split'] = data_target.apply(lambda row:
                                                           row['mch.merchant_name'].replace('.', ' ').lower(), axis=1)

# Drop column
data_target.drop('mch.merchant_name', axis=1, inplace=True)

data_target.reset_index(inplace=True, drop=True)
data_target

len before drop duplicates = 100
len after drop duplicates = 58

           target mch.merchant_name_split
0        shopping        tesco store 2296
1   entertainment        amfbowling co uk
2            kids        www gojumpin com
3         general             vue bsl ltd
4        shopping            b & m retail
5        shopping               wilko com
6        shopping       tesco stores 2296
7        shopping         asda superstore
8        shopping        homebase ltd 024
9        shopping  amazon uk retail amazo
10       shopping            giffgaff com
11           food                  currys
12         travel         tfl road charge
13       shopping         sainsburys 0567
14       shopping   pinks florists spires
15       shopping            argos direct
16       shopping         www argos co uk
17       shopping      argos retail group
18           kids       www twinsuk co uk
19       shopping     paypal  edkhaulagel
20       shopping       ao retail limited
21         health      roc private clinic
22          foods           currys online
23       shopping   asda george com leeds
24       shopping  sainsburys to you 0637
25       shopping              b & q 1066
26       shopping   amazon uk marketplace
27       shopping   sainsburys loc (4216)
28        general         bt pay by phone
29       shopping  amz amazon co uk +44 2
30        general      the reading agency
31       shopping               amazon eu
32        general      www odonovan co uk
33       shopping      br3620 jewson tool
34        general        a & y locksmiths
35         travel      tfl oyst photocard
36       shopping       builder depot ltd
37       shopping                  wickes
38       shopping         sainsburys 0513
39       shopping              b & q 1067
40       shopping       builder depot n11
41         sports        top golf watford
42           food        co-op group food
43         sports                top golf
44           food      h'vester arnos arm
45       shopping   sainsburys sacat 4572
46       shopping          brilliant bins
47        general    sds seminars limited
48         travel      lul ticket machine
49           food                domino's
50         travel             premier inn
51       shopping       tesco stores 6440
52         sports           jd sports plc
53       shopping      unique office solu
54           kids             youngdriver
55           food        pabulum catering
56           kids       parentpay e-com r
57        general  makro self service enf

# Write pre-processed data to txt file

In [35]:
# Split into train and test sets
train, test = train_test_split(data_target, test_size=0.3)
print("train.shape = " + str(train.shape))
print("test.shape = " + str(test.shape))

train.shape = (40, 2)
test.shape = (18, 2)

In [36]:
# Write to file
with open(output_path_train, 'w') as out_file:
    for index, row in train.iterrows():
        out_file.write('__label__' + row['target'] + ' ' + row['mch.merchant_name_split'] + '\n')
        
with open(output_path_test, 'w') as out_file:
    for index, row in test.iterrows():
        out_file.write('__label__' + row['target'] + ' ' + row['mch.merchant_name_split'] + '\n')

In [37]:
test

      target mch.merchant_name_split
56      kids       parentpay e-com r
10  shopping            giffgaff com
54      kids             youngdriver
43    sports                top golf
8   shopping        homebase ltd 024
31  shopping               amazon eu
38  shopping         sainsburys 0513
14  shopping   pinks florists spires
7   shopping         asda superstore
5   shopping               wilko com
44      food      h'vester arnos arm
13  shopping         sainsburys 0567
52    sports           jd sports plc
19  shopping     paypal  edkhaulagel
3    general             vue bsl ltd
30   general      the reading agency
53  shopping      unique office solu
26  shopping   amazon uk marketplace

# Build the classifier

In [38]:
# Build the classifier
model = fasttext.train_supervised(input=output_path_train, lr=1.0, epoch=25)
model

In [39]:
# Test on test data
model.test(output_path_test)

(18, 0.6666666666666666, 0.6666666666666666)

In [40]:
# See the predictions
pred = []
pred_prob = []
for index, row in test.iterrows():
    results = model.predict(row['mch.merchant_name_split'])
    pred.append(results[0][0].split('__')[2])
    pred_prob.append(results[1][0])
    
test.loc[:, 'pred'] = pred
test.loc[:, 'pred_prob'] = pred_prob
test

      target mch.merchant_name_split      pred  pred_prob
56      kids       parentpay e-com r  shopping   0.990281
10  shopping            giffgaff com  shopping   0.949790
54      kids             youngdriver  shopping   0.990281
43    sports                top golf    sports   0.733569
8   shopping        homebase ltd 024  shopping   0.981537
31  shopping               amazon eu  shopping   0.999663
38  shopping         sainsburys 0513  shopping   0.999920
14  shopping   pinks florists spires  shopping   0.990281
7   shopping         asda superstore  shopping   0.998041
5   shopping               wilko com  shopping   0.949790
44      food      h'vester arnos arm  shopping   0.990281
13  shopping         sainsburys 0567  shopping   0.999920
52    sports           jd sports plc  shopping   0.990281
19  shopping     paypal  edkhaulagel  shopping   0.990281
3    general             vue bsl ltd  shopping   0.981537
30   general      the reading agency  shopping   0.990281
53  shopping      unique office solu  shopping   0.990281
26  shopping   amazon uk marketplace  shopping   0.999141