# Objective
Transaction categorization for credit card data using ngrams.
Dataset obtained from https://data.gov.uk/search?q=credit+card+transactions

In [1]:
import pandas as pd
import nltk

from nltk.util import ngrams

#### Input parameters ##############
input_path = "./data/1718Pcard.csv"
####################################

# Load Data

In [2]:
data = pd.read_csv(input_path)
data

,FIN.TRANSACTION DATE,FIN.POSTING DATE,FIN.TRANSACTION AMOUNT,MCH.MERCHANT NAME,MCH.CITY NAME,FIN.ORIGINAL CURRENCY AMOUNT,FIN.ORIGINAL ISO CURRENCY CODE SYMBOL,FIN.INET CONVERSION,target
0,06-04-17,07-04-17,36.55,TESCO STORE 2296,COLNEY HATCH,36.55,GBP,1.0,shopping
1,06-04-17,07-04-17,58.75,AMFBOWLING.CO.UK,01442 840200,58.75,GBP,1.0,entertainment
2,10-04-17,11-04-17,40.5,WWW.GOJUMPIN.COM,INTERNET,40.5,GBP,1.0,kids
3,12-04-17,13-04-17,23.9,AMFBOWLING.CO.UK,01442 840200,23.9,GBP,1.0,entertainment
4,12-04-17,13-04-17,24.28,VUE BSL LTD,LONDON,24.28,GBP,1.0,general
5,12-04-17,13-04-17,93.92,B & M RETAIL,TOTTENHAM,93.92,GBP,1.0,shopping
6,15-04-17,17-04-17,58,WILKO.COM,0845 6080807,58,GBP,1.0,shopping
7,18-04-17,19-04-17,12,TESCO STORES 2296,COLNEY HATCH,12,GBP,1.0,shopping
8,18-04-17,19-04-17,11.5,ASDA SUPERSTORE,S'GATE CIRCUS,11.5,GBP,1.0,shopping
9,18-04-17,19-04-17,20.72,ASDA SUPERSTORE,S'GATE CIRCUS,20.72,GBP,1.0,shopping
10,25-04-17,26-04-17,90.21,HOMEBASE LTD 024,LONDON N11,90.21,GBP,1.0,shopping
11,28-04-17,01-05-17,24.71,HOMEBASE LTD 024,LONDON N11,24.71,GBP,1.0,shopping
12,28-04-17,01-05-17,-22.79,HOMEBASE LTD 024,LONDON N11,-22.79,GBP,1.0,shopping
13,27-04-17,01-05-17,47.12,AMAZON UK RETAIL AMAZO,AMAZON.CO.UK,47.12,GBP,1.0,shopping
14,09-04-17,10-04-17,5,GIFFGAFF.COM,ONLINE STORE,5,GBP,1.0,shopping
15,28-04-17,01-05-17,5,GIFFGAFF.COM,ONLINE STORE,5,GBP,1.0,shopping
16,04-04-17,05-04-17,338.95,CURRYS,STEVENAGE,338.95,GBP,1.0,food
17,04-04-17,06-04-17,11.5,TFL ROAD CHARGE,0343 222 2222,11.5,GBP,1.0,travel
18,05-04-17,07-04-17,11.5,TFL ROAD CHARGE,0343 222 2222,11.5,GBP,1.0,travel
19,11-04-17,13-04-17,11.5,TFL ROAD CHARGE,0343 222 2222,11.5,GBP,1.0,travel
20,20-04-17,21-04-17,14,SAINSBURYS 0567,LONDON COLNEY,14,GBP,1.0,shopping
21,25-04-17,26-04-17,355,PINKS FLORISTS SPIRES,BARNET,355,GBP,1.0,shopping
22,25-04-17,27-04-17,11.5,TFL ROAD CHARGE,0343 222 2222,11.5,GBP,1.0,travel
23,05-04-17,07-04-17,620.92,ARGOS DIRECT,HOME SHOPPING,620.92,GBP,1.0,shopping
24,11-04-17,12-04-17,40.98,WWW.ARGOS.CO.UK,INTERNET,40.98,GBP,1.0,shopping
25,12-04-17,13-04-17,80.44,ARGOS RETAIL GROUP,INTERNET,80.44,GBP,1.0,shopping
26,12-04-17,13-04-17,124.99,ARGOS RETAIL GROUP,INTERNET,124.99,GBP,1.0,shopping
27,12-04-17,13-04-17,319.97,WWW.ARGOS.CO.UK,INTERNET,319.97,GBP,1.0,shopping
28,13-04-17,14-04-17,718.95,WWW.TWINSUK.CO.UK,01670 856996,718.95,GBP,1.0,kids
29,20-04-17,24-04-17,103.94,WWW.ARGOS.CO.UK,INTERNET,103.94,GBP,1.0,shopping
...,...,...,...,...,...,...,...,...,...
4898,02-03-18,05-03-18,2.49,AMAZON UK MARKETPLACE,800-279-6620,2.49,GBP,1.0,NaN
4899,02-03-18,05-03-18,18.4,AMAZON UK MARKETPLACE,800-279-6620,18.4,GBP,1.0,NaN
4900,03-03-18,05-03-18,31.18,AMAZON UK MARKETPLACE,800-279-6620,31.18,GBP,1.0,NaN
4901,03-03-18,05-03-18,11.35,AMAZON UK MARKETPLACE,800-279-6620,11.35,GBP,1.0,NaN
4902,04-03-18,05-03-18,17.99,AMAZON EU,AMAZON.CO.UK,17.99,GBP,1.0,NaN
4903,04-03-18,05-03-18,10.98,AMAZON EU,AMAZON.CO.UK,10.98,GBP,1.0,NaN
4904,04-03-18,05-03-18,11.98,AMAZON EU,AMAZON.CO.UK,11.98,GBP,1.0,NaN
4905,17-03-18,19-03-18,20,OYSTER AUTOTOPUP,0343 2221234,20,GBP,1.0,NaN
4906,26-03-18,26-03-18,11.98,AMAZON EU,AMAZON.CO.UK,11.98,GBP,1.0,NaN
4907,26-03-18,26-03-18,7.98,AMAZON UK MARKETPLACE,800-279-6620,7.98,GBP,1.0,NaN
4908,26-03-18,27-03-18,17.98,AMAZON EU,AMAZON.CO.UK,17.98,GBP,1.0,NaN
4909,02-03-18,05-03-18,10,MEDIGOLD HEALTH CONSUL,NORTHAMPTON,10,GBP,1.0,NaN
4910,06-03-18,07-03-18,6.32,AMAZON UK MARKETPLACE,800-279-6620,6.32,GBP,1.0,NaN
4911,06-03-18,07-03-18,9.49,AMAZON UK MARKETPLACE,800-279-6620,9.49,GBP,1.0,NaN
4912,07-03-18,08-03-18,7.9,AMAZON UK MARKETPLACE,800-279-6620,7.9,GBP,1.0,NaN
4913,07-03-18,08-03-18,5.23,AMAZON UK MARKETPLACE,800-279-6620,5.23,GBP,1.0,NaN
4914,12-03-18,13-03-18,67.07,BT PAY BY PHONE,DURHAM,67.07,GBP,1.0,NaN
4915,13-03-18,14-03-18,31.98,AMAZON EU,AMAZON.CO.UK,31.98,GBP,1.0,NaN
4916,15-03-18,16-03-18,89.91,WWW.TTS-GROUPS.CO.UK,INTERNET,89.91,GBP,1.0,NaN
4917,18-03-18,19-03-18,21.12,AMAZON UK MARKETPLACE,800-279-6620,21.12,GBP,1.0,NaN
4918,16-03-18,21-03-18,1.58,AMAZON UK MARKETPLACE,800-279-6620,1.58,GBP,1.0,NaN
4919,22-03-18,23-03-18,118.44,ORAL HEALTH FOUNDATION,RUGBY,118.44,GBP,1.0,NaN
4920,26-03-18,26-03-18,25.56,AMAZON UK MARKETPLACE,800-279-6620,25.56,GBP,1.0,NaN
4921,20-03-18,21-03-18,226,HMCOURTS-SERVICE.G,8459400111,226,GBP,1.0,NaN
4922,28-03-18,29-03-18,17.99,123 REG R/T,8712309525,17.99,GBP,1.0,NaN
4923,16-03-18,19-03-18,20,GIFFGAFF,WWW.GIFFGAFF,20,GBP,1.0,NaN
4924,07-03-18,08-03-18,354.25,LOVE2SHOP.CO.UK,0345 717 1111,354.25,GBP,1.0,NaN
4925,21-03-18,22-03-18,51.88,AMAZON UK MARKETPLACE,800-279-6620,51.88,GBP,1.0,NaN
4926,22-03-18,26-03-18,10,WWW.BRENTGOV.UK,INTERNET,10,GBP,1.0,NaN
4927,27-03-18,28-03-18,11,LUTON BC INTERNET,LUTON,11,GBP,1.0,NaN

# Pre-process data

In [7]:
# Retain only rows where target is not null
data_target = data[~data['target'].isnull()]

# Convert column names to lower case
data_target.columns = [str(x).lower().replace(' ', '_') for x in data_target.columns]

# Extract relevant columns
data_target = data_target[['mch.merchant_name', 'target']]

# Convert '.' to ' '
data_target['mch.merchant_name_split'] = data_target.apply(lambda row: row['mch.merchant_name'].replace('.', ' ').split(), axis=1)
data_target

         mch.merchant_name         target      mch.merchant_name_split
0         TESCO STORE 2296       shopping         [TESCO, STORE, 2296]
1         AMFBOWLING.CO.UK  entertainment         [AMFBOWLING, CO, UK]
2         WWW.GOJUMPIN.COM           kids         [WWW, GOJUMPIN, COM]
3         AMFBOWLING.CO.UK  entertainment         [AMFBOWLING, CO, UK]
4              VUE BSL LTD        general              [VUE, BSL, LTD]
5             B & M RETAIL       shopping            [B, &, M, RETAIL]
6                WILKO.COM       shopping                 [WILKO, COM]
7        TESCO STORES 2296       shopping        [TESCO, STORES, 2296]
8          ASDA SUPERSTORE       shopping           [ASDA, SUPERSTORE]
9          ASDA SUPERSTORE       shopping           [ASDA, SUPERSTORE]
10        HOMEBASE LTD 024       shopping         [HOMEBASE, LTD, 024]
11        HOMEBASE LTD 024       shopping         [HOMEBASE, LTD, 024]
12        HOMEBASE LTD 024       shopping         [HOMEBASE, LTD, 024]
13  AMAZON UK RETAIL AMAZO       shopping  [AMAZON, UK, RETAIL, AMAZO]
14            GIFFGAFF.COM       shopping              [GIFFGAFF, COM]
15            GIFFGAFF.COM       shopping              [GIFFGAFF, COM]
16                  CURRYS           food                     [CURRYS]
17         TFL ROAD CHARGE         travel          [TFL, ROAD, CHARGE]
18         TFL ROAD CHARGE         travel          [TFL, ROAD, CHARGE]
19         TFL ROAD CHARGE         travel          [TFL, ROAD, CHARGE]
20         SAINSBURYS 0567       shopping           [SAINSBURYS, 0567]
21   PINKS FLORISTS SPIRES       shopping    [PINKS, FLORISTS, SPIRES]
22         TFL ROAD CHARGE         travel          [TFL, ROAD, CHARGE]
23            ARGOS DIRECT       shopping              [ARGOS, DIRECT]
24         WWW.ARGOS.CO.UK       shopping         [WWW, ARGOS, CO, UK]
25      ARGOS RETAIL GROUP       shopping       [ARGOS, RETAIL, GROUP]
26      ARGOS RETAIL GROUP       shopping       [ARGOS, RETAIL, GROUP]
27         WWW.ARGOS.CO.UK       shopping         [WWW, ARGOS, CO, UK]
28       WWW.TWINSUK.CO.UK           kids       [WWW, TWINSUK, CO, UK]
29         WWW.ARGOS.CO.UK       shopping         [WWW, ARGOS, CO, UK]
..                     ...            ...                          ...
70        TOP GOLF WATFORD         sports         [TOP, GOLF, WATFORD]
71        CO-OP GROUP FOOD           food         [CO-OP, GROUP, FOOD]
72                TOP GOLF         sports                  [TOP, GOLF]
73      H'VESTER ARNOS ARM           food       [H'VESTER, ARNOS, ARM]
74                TOP GOLF         sports                  [TOP, GOLF]
75        TOP GOLF WATFORD         sports         [TOP, GOLF, WATFORD]
76      TFL OYST PHOTOCARD         travel       [TFL, OYST, PHOTOCARD]
77   AMAZON UK MARKETPLACE       shopping    [AMAZON, UK, MARKETPLACE]
78   SAINSBURYS SACAT 4572       shopping    [SAINSBURYS, SACAT, 4572]
79          BRILLIANT BINS       shopping            [BRILLIANT, BINS]
80    SDS SEMINARS LIMITED        general     [SDS, SEMINARS, LIMITED]
81      LUL TICKET MACHINE         travel       [LUL, TICKET, MACHINE]
82                DOMINO'S           food                   [DOMINO'S]
83   AMAZON UK MARKETPLACE       shopping    [AMAZON, UK, MARKETPLACE]
84  AMAZON UK RETAIL AMAZO       shopping  [AMAZON, UK, RETAIL, AMAZO]
85   AMAZON UK MARKETPLACE       shopping    [AMAZON, UK, MARKETPLACE]
86             PREMIER INN         travel               [PREMIER, INN]
87         ASDA SUPERSTORE       shopping           [ASDA, SUPERSTORE]
88       TESCO STORES 6440       shopping        [TESCO, STORES, 6440]
89      TFL OYST PHOTOCARD         travel       [TFL, OYST, PHOTOCARD]
90           JD SPORTS PLC         sports            [JD, SPORTS, PLC]
91       TESCO STORES 6440       shopping        [TESCO, STORES, 6440]
92      UNIQUE OFFICE SOLU       shopping       [UNIQUE, OFFICE, SOLU]
93   ASDA GEORGE COM LEEDS       shopping   [ASDA, GEORGE, COM, LEEDS]
94             YOUNGDRIVER           kids                [YOUNGDRIVER]
95        PABULUM CATERING           food          [PABULUM, CATERING]
96           JD SPORTS PLC         sports            [JD, SPORTS, PLC]
97       PARENTPAY E-COM R           kids        [PARENTPAY, E-COM, R]
98       TESCO STORES 6440       shopping        [TESCO, STORES, 6440]
99  MAKRO SELF SERVICE ENF        general  [MAKRO, SELF, SERVICE, ENF]

[100 rows x 3 columns]

In [8]:
# Construct ngrams
data_target['mch.merchant_name_tok'] = data_target.apply(lambda row: list(ngrams(row['mch.merchant_name_split'], 2)), axis=1)
data_target

,mch.merchant_name,target,mch.merchant_name_split,mch.merchant_name_tok
0,TESCO STORE 2296,shopping,"[TESCO, STORE, 2296]","[(TESCO, STORE), (STORE, 2296)]"
1,AMFBOWLING.CO.UK,entertainment,"[AMFBOWLING, CO, UK]","[(AMFBOWLING, CO), (CO, UK)]"
2,WWW.GOJUMPIN.COM,kids,"[WWW, GOJUMPIN, COM]","[(WWW, GOJUMPIN), (GOJUMPIN, COM)]"
3,AMFBOWLING.CO.UK,entertainment,"[AMFBOWLING, CO, UK]","[(AMFBOWLING, CO), (CO, UK)]"
4,VUE BSL LTD,general,"[VUE, BSL, LTD]","[(VUE, BSL), (BSL, LTD)]"
5,B & M RETAIL,shopping,"[B, &, M, RETAIL]","[(B, &), (&, M), (M, RETAIL)]"
6,WILKO.COM,shopping,"[WILKO, COM]","[(WILKO, COM)]"
7,TESCO STORES 2296,shopping,"[TESCO, STORES, 2296]","[(TESCO, STORES), (STORES, 2296)]"
8,ASDA SUPERSTORE,shopping,"[ASDA, SUPERSTORE]","[(ASDA, SUPERSTORE)]"
9,ASDA SUPERSTORE,shopping,"[ASDA, SUPERSTORE]","[(ASDA, SUPERSTORE)]"
10,HOMEBASE LTD 024,shopping,"[HOMEBASE, LTD, 024]","[(HOMEBASE, LTD), (LTD, 024)]"
11,HOMEBASE LTD 024,shopping,"[HOMEBASE, LTD, 024]","[(HOMEBASE, LTD), (LTD, 024)]"
12,HOMEBASE LTD 024,shopping,"[HOMEBASE, LTD, 024]","[(HOMEBASE, LTD), (LTD, 024)]"
13,AMAZON UK RETAIL AMAZO,shopping,"[AMAZON, UK, RETAIL, AMAZO]","[(AMAZON, UK), (UK, RETAIL), (RETAIL, AMAZO)]"
14,GIFFGAFF.COM,shopping,"[GIFFGAFF, COM]","[(GIFFGAFF, COM)]"
15,GIFFGAFF.COM,shopping,"[GIFFGAFF, COM]","[(GIFFGAFF, COM)]"
16,CURRYS,food,[CURRYS],[]
17,TFL ROAD CHARGE,travel,"[TFL, ROAD, CHARGE]","[(TFL, ROAD), (ROAD, CHARGE)]"
18,TFL ROAD CHARGE,travel,"[TFL, ROAD, CHARGE]","[(TFL, ROAD), (ROAD, CHARGE)]"
19,TFL ROAD CHARGE,travel,"[TFL, ROAD, CHARGE]","[(TFL, ROAD), (ROAD, CHARGE)]"
20,SAINSBURYS 0567,shopping,"[SAINSBURYS, 0567]","[(SAINSBURYS, 0567)]"
21,PINKS FLORISTS SPIRES,shopping,"[PINKS, FLORISTS, SPIRES]","[(PINKS, FLORISTS), (FLORISTS, SPIRES)]"
22,TFL ROAD CHARGE,travel,"[TFL, ROAD, CHARGE]","[(TFL, ROAD), (ROAD, CHARGE)]"
23,ARGOS DIRECT,shopping,"[ARGOS, DIRECT]","[(ARGOS, DIRECT)]"
24,WWW.ARGOS.CO.UK,shopping,"[WWW, ARGOS, CO, UK]","[(WWW, ARGOS), (ARGOS, CO), (CO, UK)]"
25,ARGOS RETAIL GROUP,shopping,"[ARGOS, RETAIL, GROUP]","[(ARGOS, RETAIL), (RETAIL, GROUP)]"
26,ARGOS RETAIL GROUP,shopping,"[ARGOS, RETAIL, GROUP]","[(ARGOS, RETAIL), (RETAIL, GROUP)]"
27,WWW.ARGOS.CO.UK,shopping,"[WWW, ARGOS, CO, UK]","[(WWW, ARGOS), (ARGOS, CO), (CO, UK)]"
28,WWW.TWINSUK.CO.UK,kids,"[WWW, TWINSUK, CO, UK]","[(WWW, TWINSUK), (TWINSUK, CO), (CO, UK)]"
29,WWW.ARGOS.CO.UK,shopping,"[WWW, ARGOS, CO, UK]","[(WWW, ARGOS), (ARGOS, CO), (CO, UK)]"
...,...,...,...,...
70,TOP GOLF WATFORD,sports,"[TOP, GOLF, WATFORD]","[(TOP, GOLF), (GOLF, WATFORD)]"
71,CO-OP GROUP FOOD,food,"[CO-OP, GROUP, FOOD]","[(CO-OP, GROUP), (GROUP, FOOD)]"
72,TOP GOLF,sports,"[TOP, GOLF]","[(TOP, GOLF)]"
73,H'VESTER ARNOS ARM,food,"[H'VESTER, ARNOS, ARM]","[(H'VESTER, ARNOS), (ARNOS, ARM)]"
74,TOP GOLF,sports,"[TOP, GOLF]","[(TOP, GOLF)]"
75,TOP GOLF WATFORD,sports,"[TOP, GOLF, WATFORD]","[(TOP, GOLF), (GOLF, WATFORD)]"
76,TFL OYST PHOTOCARD,travel,"[TFL, OYST, PHOTOCARD]","[(TFL, OYST), (OYST, PHOTOCARD)]"
77,AMAZON UK MARKETPLACE,shopping,"[AMAZON, UK, MARKETPLACE]","[(AMAZON, UK), (UK, MARKETPLACE)]"
78,SAINSBURYS SACAT 4572,shopping,"[SAINSBURYS, SACAT, 4572]","[(SAINSBURYS, SACAT), (SACAT, 4572)]"
79,BRILLIANT BINS,shopping,"[BRILLIANT, BINS]","[(BRILLIANT, BINS)]"
80,SDS SEMINARS LIMITED,general,"[SDS, SEMINARS, LIMITED]","[(SDS, SEMINARS), (SEMINARS, LIMITED)]"
81,LUL TICKET MACHINE,travel,"[LUL, TICKET, MACHINE]","[(LUL, TICKET), (TICKET, MACHINE)]"
82,DOMINO'S,food,[DOMINO'S],[]
83,AMAZON UK MARKETPLACE,shopping,"[AMAZON, UK, MARKETPLACE]","[(AMAZON, UK), (UK, MARKETPLACE)]"
84,AMAZON UK RETAIL AMAZO,shopping,"[AMAZON, UK, RETAIL, AMAZO]","[(AMAZON, UK), (UK, RETAIL), (RETAIL, AMAZO)]"
85,AMAZON UK MARKETPLACE,shopping,"[AMAZON, UK, MARKETPLACE]","[(AMAZON, UK), (UK, MARKETPLACE)]"
86,PREMIER INN,travel,"[PREMIER, INN]","[(PREMIER, INN)]"
87,ASDA SUPERSTORE,shopping,"[ASDA, SUPERSTORE]","[(ASDA, SUPERSTORE)]"
88,TESCO STORES 6440,shopping,"[TESCO, STORES, 6440]","[(TESCO, STORES), (STORES, 6440)]"
89,TFL OYST PHOTOCARD,travel,"[TFL, OYST, PHOTOCARD]","[(TFL, OYST), (OYST, PHOTOCARD)]"
90,JD SPORTS PLC,sports,"[JD, SPORTS, PLC]","[(JD, SPORTS), (SPORTS, PLC)]"
91,TESCO STORES 6440,shopping,"[TESCO, STORES, 6440]","[(TESCO, STORES), (STORES, 6440)]"
92,UNIQUE OFFICE SOLU,shopping,"[UNIQUE, OFFICE, SOLU]","[(UNIQUE, OFFICE), (OFFICE, SOLU)]"
93,ASDA GEORGE COM LEEDS,shopping,"[ASDA, GEORGE, COM, LEEDS]","[(ASDA, GEORGE), (GEORGE, COM), (COM, LEEDS)]"
94,YOUNGDRIVER,kids,[YOUNGDRIVER],[]
95,PABULUM CATERING,food,"[PABULUM, CATERING]","[(PABULUM, CATERING)]"
96,JD SPORTS PLC,sports,"[JD, SPORTS, PLC]","[(JD, SPORTS), (SPORTS, PLC)]"
97,PARENTPAY E-COM R,kids,"[PARENTPAY, E-COM, R]","[(PARENTPAY, E-COM), (E-COM, R)]"
98,TESCO STORES 6440,shopping,"[TESCO, STORES, 6440]","[(TESCO, STORES), (STORES, 6440)]"
99,MAKRO SELF SERVICE ENF,general,"[MAKRO, SELF, SERVICE, ENF]","[(MAKRO, SELF), (SELF, SERVICE), (SERVICE, ENF)]"